body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
}

#videoContainer {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

video {
  max-height: 90vh;
  max-width: 100%;
  border-radius: 10px;
}

#rotateNotice {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  background: black;
  padding: 20px;
  border-radius: 10px;
  z-index: 9;
}

#pptContainer {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.hidden {
  display: none;
}
