body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
}

/* VIDEO */
#videoContainer {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: opacity 1s ease;
}

video {
  max-height: 90vh;
  max-width: 100%;
  border-radius: 10px;
}

/* ROTATE NOTICE */
#rotateNotice {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  background: black;
  padding: 20px;
  border-radius: 10px;
  z-index: 9;
}

/* PPT CONTAINER */
#pptContainer {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  padding: 0;
  margin: 0;
}

#pptContainer iframe {
  width: 95%;
  height: 80vh;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

#pptContainer audio {
  margin-top: 10px;
  width: 300px;
}

/* ANIMASI FADE */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.98); }
  to   { opacity: 1; transform: scale(1); }
}

.fade-in {
  animation: fadeIn 1s ease-out;
}

.hidden {
  display: none;
}

#loadingScreen {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  transition: opacity 0.8s ease;
  flex-direction: column;
}

.loading-box {
  text-align: center;
  color: white;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-top: 4px solid white;
  border-radius: 50%;
  margin: 0 auto 16px auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  font-size: 24px;
  font-family: 'Cinzel', serif;
  animation: blink 1s infinite alternate;
}

.loading-desc {
  margin-top: 8px;
  font-size: 14px;
  color: #ccc;
  font-style: italic;
}

@keyframes blink {
  0% { opacity: 0.4; }
  100% { opacity: 1; }
}
